In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql import functions as F, types as T

In [3]:
df = spark.read.format("csv").option("header","true").load("file:///D:/data/SalesLT.product.csv")

In [6]:
df.show(2)

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModelID|       SellStartDate|SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
only showing top 2 rows

### Create temp veiw to run the spark sql

In [7]:
sql_df = df.createOrReplaceTempView("sdf")

In [8]:
df.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- ProductCategoryID: string (nullable = true)
 |-- ProductModelID: string (nullable = true)
 |-- SellStartDate: string (nullable = true)
 |-- SellEndDate: string (nullable = true)
 |-- DiscontinuedDate: string (nullable = true)
 |-- ThumbNailPhoto: string (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: string (nullable = true)

In [9]:
prod_model_filter_df = df.filter(col("ProductModelID") >= 6).show(3)

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModelID|       SellStartDate|SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|
|      707|Sport-100 Helmet,...|    HL-U509-R|  Red|     13.0863|  34.9900|null|   null|               35|            33|2005-07-01T00:00:...|       null|            null|   [B@271b37ba|  no_image_availabl...|2e1ef41a-c08a-4ff...|2008-03-11T10:01:...|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
only showing top 3 rows

### Changing the above code in SparkSQL

prod_model_filter_sdf = spark.sql("select * from sdf where ProductModelID >= 6").show(2)

In [33]:
prod_model_filter_sdf = spark.sql("select * from sdf where ProductModelID >= 6").show(2)

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModelID|       SellStartDate|SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
only showing top 2 rows

### renamed the column

In [11]:
renamed_col_df = df.withColumnRenamed("ProductModelID", "ProductModel_ID").show(2)

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+---------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModel_ID|       SellStartDate|SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+---------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|              6|2002-06-01T00:00:...|       null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|              6|2002-06-01T00:00:...|       null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+---------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
only showing top 2 rows

### Changing the above code in SparkSQL

In [15]:
renamed_col_sdf = spark.sql("alter table sdf rename COLUMN  ProductModel_ID to ProductModelID").show(2)

In [18]:
spark.sql("select * from sdf limit 2").show(2)

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModelID|       SellStartDate|SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+

### Use condition statement

In [21]:


condition_df = df.withColumn("Conditional Syandard Column",
    when(col("StandardCost") <= 500, "low standard")
        .when(col("StandardCost") <= 1000, "medium standard")
        .when(col("StandardCost") <= 2001, "High Standard")
        .otherwise("Very High Standard")
).show()

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+--------------------+----------------+--------------+----------------------+--------------------+--------------------+---------------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModelID|       SellStartDate|         SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|Conditional Syandard Column|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+--------------------+----------------+--------------+----------------------+--------------------+--------------------+---------------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|                null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|              High Standard|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|                null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|              High Standard|
|      707|Sport-100 Helmet,...|    HL-U509-R|  Red|     13.0863|  34.9900|null|   null|               35|            33|2005-07-01T00:00:...|                null|            null|   [B@271b37ba|  no_image_availabl...|2e1ef41a-c08a-4ff...|2008-03-11T10:01:...|               low standard|
|      708|Sport-100 Helmet,...|      HL-U509|Black|     13.0863|  34.9900|null|   null|               35|            33|2005-07-01T00:00:...|                null|            null|   [B@617ed087|  no_image_availabl...|a25a44fb-c2de-426...|2008-03-11T10:01:...|               low standard|
|      709|Mountain Bike Soc...|    SO-B909-M|White|      3.3963|   9.5000|   M|   null|               27|            18|2005-07-01T00:00:...|2006-06-30T00:00:...|            null|   [B@54816b9f|  no_image_availabl...|18f95f47-1540-4e0...|2008-03-11T10:01:...|               low standard|
|      710|Mountain Bike Soc...|    SO-B909-L|White|      3.3963|   9.5000|   L|   null|               27|            18|2005-07-01T00:00:...|2006-06-30T00:00:...|            null|   [B@15cd957a|  no_image_availabl...|161c035e-21b3-4e1...|2008-03-11T10:01:...|               low standard|
|      711|Sport-100 Helmet,...|    HL-U509-B| Blue|     13.0863|  34.9900|null|   null|               35|            33|2005-07-01T00:00:...|                null|            null|   [B@6b15c69e|  no_image_availabl...|fd7c0858-4179-48c...|2008-03-11T10:01:...|               low standard|
|      712|        AWC Logo Cap|      CA-1098|Multi|      6.9223|   8.9900|null|   null|               23|             2|2005-07-01T00:00:...|                null|            null|   [B@7c78c993|  no_image_availabl...|b9ede243-a6f4-462...|2008-03-11T10:01:...|               low standard|
|      713|Long-Sleeve Logo ...|    LJ-0192-S|Multi|     38.4923|  49.9900|   S|   null|               25|            11|2005-07-01T00:00:...|                null|            null|   [B@237a8810|  awc_jersey_male_s...|fd449c82-a259-4fa...|2008-03-11T10:01:...|               low standard|
|      714|Long-Sleeve Logo ...|    LJ-0192-M|Multi|     38.4923|  49.9900|   M|   null|               25|            11|2005-07-01T00:00:...|                null|            null|   [B@5ae5bf40|  awc_jersey_male_s...|6a290063-a0cf-432...|2008-03-11T10:01:...|               low standard|
|      715|Long-Sleeve Logo ...|    LJ-0192-L|Multi|     38.4923|  49.9900|   L|   null|               25|            11|2005-07-01T00:00:...|                null|            null|   [B@1f81a3b4|  awc_jersey_male_s...|34cf5ef5-c077-4ea...|2008-03-11T10:01:...|               low standard|
|      716|Long-Sleeve Logo ...|    LJ-0192-X|Multi|     38.4923|  49.9900|  XL|   null|               25|            11|2005-07-01T00:00:...|                null|            null|   [B@250fc586|  awc_jersey_male_s...|6ec47ec9-c041-4dd...|2008-03-11T10:01:...|               low standard|
|      717|HL Road Frame - R...|   FR-R92R-62|  Red|    868.6342|1431.5000|  62|1043.26|               18|             6|2005-07-01T00:00:...|                null|            null|   [B@5242e33f|  no_image_availabl...|052e4f8b-0a2a-46b...|2008-03-11T10:01:...|            medium standard|
|      718|HL Road Frame - R...|   FR-R92R-44|  Red|    868.6342|1431.5000|  44| 961.61|               18|             6|2005-07-01T00:00:...|                null|            null|   [B@252a5988|  no_image_availabl...|a88d3b54-2cae-43f...|2008-03-11T10:01:...|            medium standard|
|      719|HL Road Frame - R...|   FR-R92R-48|  Red|    868.6342|1431.5000|  48| 979.75|               18|             6|2005-07-01T00:00:...|                null|            null|   [B@37a4d29a|  no_image_availabl...|07befc9a-7634-402...|2008-03-11T10:01:...|            medium standard|
|      720|HL Road Frame - R...|   FR-R92R-52|  Red|    868.6342|1431.5000|  52| 997.90|               18|             6|2005-07-01T00:00:...|                null|            null|   [B@6c5c121d|  no_image_availabl...|fcfea68f-310e-4e6...|2008-03-11T10:01:...|            medium standard|
|      721|HL Road Frame - R...|   FR-R92R-56|  Red|    868.6342|1431.5000|  56|1016.04|               18|             6|2005-07-01T00:00:...|                null|            null|   [B@29c25fb2|  no_image_availabl...|56c85873-4993-41b...|2008-03-11T10:01:...|            medium standard|
|      722|LL Road Frame - B...|   FR-R38B-58|Black|    204.6251| 337.2200|  58|1115.83|               18|             9|2005-07-01T00:00:...|                null|            null|   [B@5ed3b51b|  no_image_availabl...|2140f256-f705-4d6...|2008-03-11T10:01:...|               low standard|
|      723|LL Road Frame - B...|   FR-R38B-60|Black|    204.6251| 337.2200|  60|1124.90|               18|             9|2005-07-01T00:00:...|                null|            null|   [B@4f728c59|  no_image_availabl...|aa95e2a5-e7c4-4b7...|2008-03-11T10:01:...|               low standard|
|      724|LL Road Frame - B...|   FR-R38B-62|Black|    204.6251| 337.2200|  62|1133.98|               18|             9|2005-07-01T00:00:...|                null|            null|   [B@4332a350|  no_image_availabl...|5247be33-50bf-452...|2008-03-11T10:01:...|               low standard|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+--------------------+----------------+--------------+----------------------+--------------------+--------------------+---------------------------+
only showing top 20 rows

### converting string to double

In [22]:

df.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- ProductCategoryID: string (nullable = true)
 |-- ProductModelID: string (nullable = true)
 |-- SellStartDate: string (nullable = true)
 |-- SellEndDate: string (nullable = true)
 |-- DiscontinuedDate: string (nullable = true)
 |-- ThumbNailPhoto: string (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: string (nullable = true)

In [24]:
string_double_df = df.withColumn("new_productModelID",col("ProductModelID").cast("double"))

In [26]:
string_double_df.show(3)

+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+------------------+
|ProductID|                Name|ProductNumber|Color|StandardCost|ListPrice|Size| Weight|ProductCategoryID|ProductModelID|       SellStartDate|SellEndDate|DiscontinuedDate|ThumbNailPhoto|ThumbnailPhotoFileName|             rowguid|        ModifiedDate|new_productModelID|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|Black|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@7fa7208e|  no_image_availabl...|43dd68d6-14a4-461...|2008-03-11T10:01:...|               6.0|
|      706|HL Road Frame - R...|   FR-R92R-58|  Red|   1059.3100|1431.5000|  58|1016.04|               18|             6|2002-06-01T00:00:...|       null|            null|   [B@4941099c|  no_image_availabl...|9540ff17-2712-4c9...|2008-03-11T10:01:...|               6.0|
|      707|Sport-100 Helmet,...|    HL-U509-R|  Red|     13.0863|  34.9900|null|   null|               35|            33|2005-07-01T00:00:...|       null|            null|   [B@271b37ba|  no_image_availabl...|2e1ef41a-c08a-4ff...|2008-03-11T10:01:...|              33.0|
+---------+--------------------+-------------+-----+------------+---------+----+-------+-----------------+--------------+--------------------+-----------+----------------+--------------+----------------------+--------------------+--------------------+------------------+
only showing top 3 rows

### Now You can see the new_productModelID as Double column data type

In [27]:
string_double_df.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- ListPrice: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- ProductCategoryID: string (nullable = true)
 |-- ProductModelID: string (nullable = true)
 |-- SellStartDate: string (nullable = true)
 |-- SellEndDate: string (nullable = true)
 |-- DiscontinuedDate: string (nullable = true)
 |-- ThumbNailPhoto: string (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: string (nullable = true)
 |-- new_productModelID: double (nullable = true)

### Convert String to INT

In [28]:
string_int_df = df.withColumn("ListPrice", col("ListPrice").cast("int"))

In [29]:
string_int_df.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- ProductNumber: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- StandardCost: string (nullable = true)
 |-- ListPrice: integer (nullable = true)
 |-- Size: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- ProductCategoryID: string (nullable = true)
 |-- ProductModelID: string (nullable = true)
 |-- SellStartDate: string (nullable = true)
 |-- SellEndDate: string (nullable = true)
 |-- DiscontinuedDate: string (nullable = true)
 |-- ThumbNailPhoto: string (nullable = true)
 |-- ThumbnailPhotoFileName: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: string (nullable = true)

### Get size of dataframe

In [30]:
print("{} rows".format(df.count()))
print("{} columns".format(len(df.columns)))

295 rows
17 columns

### Get Number of Partitions

In [31]:
print("{} partition(s)".format(df.rdd.getNumPartitions()))

1 partition(s)

### Get data types of a DataFrame's columns

In [32]:
print(df.dtypes)

[('ProductID', 'string'), ('Name', 'string'), ('ProductNumber', 'string'), ('Color', 'string'), ('StandardCost', 'string'), ('ListPrice', 'string'), ('Size', 'string'), ('Weight', 'string'), ('ProductCategoryID', 'string'), ('ProductModelID', 'string'), ('SellStartDate', 'string'), ('SellEndDate', 'string'), ('DiscontinuedDate', 'string'), ('ThumbNailPhoto', 'string'), ('ThumbnailPhotoFileName', 'string'), ('rowguid', 'string'), ('ModifiedDate', 'string')]